@import url('https://fonts.googleapis.com/css?family=Mali:700i');
@import url('https://fonts.googleapis.com/css?family=Overpass|Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Almendra+Display');



* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Almendra Display', cursive;
    margin: 0px;
}

button:focus {outline:0;}
button:hover {
    cursor: pointer;
    color: purple;
}

/* Style the header */
.header {
    padding: 5px;
    text-align: center;
    font-size: 27px;
    height: 20vh;
}


/* Middle column */
.main {
    width: 100vw;
      /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  padding-left:2vw;
  padding-right:2vw;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

.container {
    transition: transform .4s; /* Animation */
    display: block;
    height:50vh;
    width: 100%;
    padding: 0.5em;
}

.container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.container:hover .overlay {
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92);
    cursor: pointer;
}

.container .overlay .text{
    color: purple;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}


.material {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 80%;
    padding-bottom: 2em;
}

.top {
    background-color: white;
    margin:0px;
    height: 38vh;
    width:100%;
    align-content: center;
    color:black;
}

.name {
    text-align: center;
    font-size: 4vw;
    padding:0.5em;
    font-family: 'Almendra Display', cursive;
    font-weight: 500;

}


/* Left and right column */
.header .left {
    width: 100%;
    float: left;
}

/* Left and right column */
.header .right {
    width: 75%;
    float: left;
    padding-left: 23em;
    padding-top: 2.5em;
}


.menu .item {
    float:left;
    padding-left:2em;
    font-size: 45%;
}

.menu .button {
    background-color: white;
    border: none;
    text-align: center;
    font-size: 1em;
    font-family: 'Mali', cursive, bold;
}



.modal {
    height: 80vh;
    padding:0px;
    margin:0px;
    float: left;
    font-family: 'Overpass', sans-serif;
}

.modal .left{
    background:red;
    padding: 0px;
    overflow: hidden;
}

.modal .right {
    background:white;
    margin-left: 30px;
    margin-right:10px;
    margin-top:50px;
    max-width: 20vw;
    min-width: 20vw;
    word-wrap: break-word;
    overflow: hidden;
}

.modalImg {
    height: 100%;
    object-fit: cover;
    max-width: 60vw;
}

.logo {
    height: 16vh;
    align-content: center;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: white;
    text-align: center;
    height:20vh;
    padding-top:5em;
    padding-bottom: 30vh;
}

@media (max-width: 450px) {
   .poppop {
       display: none
   }
   
   .name {
       font-size: 10vw;
   }

   .main {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
   }

   .top {
       height: 40vh;
    }
}

@media (min-width:450px) and (max-width: 1000px) {
    .name {
        padding-top:1em;
        font-size: 7vw;
    }
    
    .main {
        margin:0px;
        padding: 0px;
    }

    .top {
        height: 55vh;
    }
}